.16_2 { 
	overflow:hidden;
}.e16_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}.e16_3 { 
	width:1214px;
	height:301px;
	position:absolute;
	left:98px;
	top:291px;
}.e16_4 { 
	width:333px;
	height:301px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e16_5 { 
	width:332px;
	height:301px;
	position:absolute;
	left:882px;
	top:0px;
	background-image:url(images/image_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e16_6 { 
	width:333px;
	height:298.3125px;
	position:absolute;
	left:441px;
	top:0px;
	background-image:url(images/image_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e16_15 { 
	width:281px;
	height:157px;
	position:absolute;
	left:26px;
	top:72px;
	background-image:url(images/image_8.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e16_13 { 
	width:1440px;
	height:128px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/galva.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e16_17 { 
	width:232px;
	height:216px;
	position:absolute;
	left:589px;
	top:316px;
	background-image:url(images/image_9.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e16_19 { 
	width:167px;
	height:204px;
	position:absolute;
	left:1062px;
	top:316px;
	background-image:url(images/image_10.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e16_137 { 
	width:113px;
	height:65px;
	position:absolute;
	left:208px;
	top:532px;
	background-image:url(images/image_33.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e16_139 { 
	width:204px;
	height:65px;
	position:absolute;
	left:603px;
	top:527px;
	background-image:url(images/image_34.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e16_141 { 
	width:133px;
	height:65px;
	position:absolute;
	left:1079px;
	top:520px;
	background-image:url(images/image_35.png);
	background-repeat:no-repeat;
	background-size:cover;
}