.16_59 { 
	overflow:hidden;
}.e16_59 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}.e16_60 { 
	width:1440px;
	height:128px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/galva.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e16_61 { 
	width:232px;
	height:216px;
	position:absolute;
	left:591px;
	top:316px;
}.e16_62 { 
	width:541px;
	height:406px;
	position:absolute;
	left:80px;
	top:473px;
	background-image:url(images/image_14.png);
	background-repeat:no-repeat;
	background-size:cover;
}