.17_31 { 
	overflow:hidden;
}.e17_31 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}.e17_32 { 
	width:75px;
	height:75px;
	position:absolute;
	left:28px;
	top:176px;
	background-image:url(images/poga.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e17_33 { 
	width:526px;
	height:176px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/nosaukums.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e17_34 { 
	width:196px;
	height:73px;
	position:absolute;
	left:748px;
	top:48px;
	background-image:url(images/atbalsts.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e17_35 { 
	width:441px;
	height:66px;
	position:absolute;
	left:976px;
	top:55px;
	background-image:url(images/meklet.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e19_62 { 
	width:550px;
	height:347.0664978027344px;
	position:absolute;
	left:28px;
	top:446px;
	background-image:url(images/1050ti.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e17_36 { 
	width:1440px;
	height:2.1578421592712402px;
	position:absolute;
	left:0px;
	top:147px;
	background-image:url(images/linija.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e19_60 { 
	width:1233.8941650390625px;
	height:600px;
	position:absolute;
	left:206px;
	top:424px;
	background-image:url(images/apraksts.png);
	background-repeat:no-repeat;
	background-size:cover;
}